.advantages {
  padding-top: 32px;
  text-align: center;
}

.advantages__slogan {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  margin-bottom: 26px;
}

.advantages__text {
  margin: 0;
  margin-bottom: 11px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 21px;
}

.advantages__description {
  margin: 0;
  padding-bottom: 39px;
}

.advantages__item {
  padding-top: 25px;
  background-color: $grey;
}

.advantages__item--pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $white;
  background-color: $blue;
}

.advantages__city {
  grid-column: 1 / -1;
  order: 3;
}


@media (min-width: $tablet-width) {
  .advantages__item--pic {
    grid-column: span 3;
  }
}

.advantages__item--pic::after {
  display: block;
  content: "";
  width: 512px;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center bottom;
  grid-column: span 2;
}

.advantages__item--pic:first-child::after {
  background-image: url("../img/photo-city-1x.jpg");
}

.advantages__item--pic:nth-child(2)::after {
  background-image: url("../img/photo-bridge-1x.jpg");
  order: -1;
}
