.advantages {
  padding-top: 32px;
  text-align: center;
}

.advantages__slogan {
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 26px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 484px;
}

.advantages__text {
  margin: 0 auto;
  padding-bottom: 32px;
  padding-right: 18px;
  padding-left: 18px;
  max-width: 520px;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    padding-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    padding-bottom: 41px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: advantages;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    padding: 40px 32px 21px 32px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    padding: 47px 52px 21px 52px;
  }
}

.advantages__description {
  margin: 0;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    padding: 0 32px 44px 32px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description {
    padding: 0 52px 56px 52px;
  }
}

.advantages__description::before {
  display: block;
  content: "— №" counter(advantages) " —";
  margin-bottom: 21px;
}

.advantages__item {
  padding-top: 0;
  background-color: $grey;
  counter-increment: advantages;
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .advantages__item:last-child::before {
    display: block;
    content: "";
    width: 280px;
    height: 1px;
    background-color: $grey-550;
    top: 0;
    left: calc(50% - 140px);
  }

  .advantages__item.advantages__item:nth-last-child(-n + 2)::before {
    display: block;
    content: "";
    width: 280px;
    height: 1px;
    background-color: $grey-550;
    top: 0;
    left: calc(50% - 140px);
  }
}

.advantages__item--pic {
  display: grid;
  color: $white;
  background-color: $blue;
}

@media (max-width: $mobile-width-only) {
  .advantages__item--pic {
    padding-top: 24px;
  }

  .advantages__item--pic .advantages__description {
    padding-bottom: 39px;
  }

  .advantages__item--pic:first-child {
    background-image: url("../img/white-triangle2.svg");
    background-repeat: no-repeat;
  }

  .advantages__item--pic::after {
    height: 260px;
  }
}

.advantages__city {
  grid-column: 1 / -1;
  order: 3;
}

.advantages__item--pic::after {
  display: block;
  content: "";
  height: 256px;
  background-repeat: no-repeat;
  background-position: center bottom;
  grid-column: span 2;
}

.advantages__item--pic:first-child::after {
  background-image: url("../img/photo-city-1x.jpg");
}

.advantages__item--pic:nth-child(2)::after {
  background-image: url("../img/photo-bridge-1x.jpg");
}

@media (min-width: $tablet-width) {
  .advantages__item--pic {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .advantages__item--pic:nth-child(2)::after {
    order: -1;
  }
}
