.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: $white;
  background-color: $blue;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: $blue-200;
}

.button:active,
.button:focus {
  color: rgba($white, 0.3);
  background-color: $blue-300;
  outline: none;
}

.button:disabled {
  background-color: $grey-300;
}
