.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  color: $white;
  background-color: $blue;
  padding: 14px 32px 14px 32px;
}
