.checkbox label {
  display: block;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 78px;
}

.checkbox__input {
  z-index: 1;
  opacity: 0;
}

.checkbox__input + label::before {
  border-radius: 10%;
}

.checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 20px;
  width: 24px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.checkbox__input:checked + label:active::after {
  opacity: 0.3;
}

