.description {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 16px;
}


.description__title {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  padding-bottom: 26px;
}

.description__text {
  line-height: 24px;
  margin: 0;
}
