.form-feedback {
  padding-top: 20px;
  padding-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .form-feedback {
    padding-bottom: 58px;
  }
}

.form-feedback__input {
  display: block;
  width: 100%;
  background-color: $grey-200;
  border: none;
  padding: 18px 21px 24px 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form-feedback__input::placeholder {
  color: $black;
}

@media (min-width: $tablet-width) {
  .form-feedback {
    grid-column: span 2;
  }
}
