.form-feedback {
  padding-bottom: 51px;
}

.form-feedback__title {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .form-feedback__title {
    font-size: 21px;
    margin-bottom: 55px;
  }
}


@media (min-width: $tablet-width) {
  .form-feedback {
    padding-bottom: 58px;
  }
}

.form-feedback__input {
  display: block;
  width: 100%;
  background-color: $grey-200;
  border: 4px solid $grey-200;
  padding: 10px 17px 11px 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form-feedback__input:hover {
  background-color: $grey-300;
  border-color: $grey-300;
}

.form-feedback__input:active,
.form-feedback__input:focus {
  background-color: $white;
  border-color: $grey-300;
  outline: none;
}

@media (min-width: $tablet-width) {
  .form-feedback__input {
    padding: 14px 17px 8px 17px;
  }
}

.form-feedback__input::placeholder {
  color: $black;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .form-feedback {
    grid-column: span 2;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__title--accented {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-feedback__title--accented::before,
  .form-feedback__title--accented::after {
    content: "";
    width: 122px;
    height: 1px;
    background-color: $grey-230;
  }

  .form-feedback__title--accented::before {
    margin-right: 10px;
  }

  .form-feedback__title--accented::after {
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__title--accented::before,
  .form-feedback__title--accented::after {
    width: 280px;
  }
}
