.form-group {
  border: none;
  margin: 0;
}

.form-group__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
  grid-column: 1 / -1;
}

@media (min-width: $tablet-width) {
  .form-group--contacts {
    grid-column: span 2;
  }
}

@media (min-width: $desktop-width) {
  .form-group--contacts {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: 79px;
  }
}
