.form-list {
  border: none;
}

@media (min-width: $tablet-width) {
  .form-list--attractions {
    grid-column: span 2;
  }

  .form-list--impression {
    order: -1;
  }
}

.form-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form-list--attractions .form-list__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .form-list--attractions .form-list__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}


.form-list__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
}
