.gallery {
  padding-top: 22px;
  line-height: 24px;
}

.gallery__list {
  list-style: none;
}

.gallery__name {
  text-transform: none;
}

.gallery__name strong {
  text-transform: uppercase;
}

.gallery__likes {
  font-weight: bold;
}
