.gallery {
  padding-top: 22px;
  line-height: 24px;
}

.gallery__list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__name {
  text-transform: none;
  margin: 0;
}

.gallery__name strong {
  text-transform: uppercase;
}

.gallery__likes {
  display: flex;
  font-weight: bold;
  width: 70px;
}

.gallery__likes svg {
  flex-shrink: 0;
  margin-right: 9px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .gallery__wrapper {
    background-color: $grey-200;
  }

  .gallery__item:not(:first-child):nth-child(odd) {
    .gallery__wrapper {
      background-color: $grey-350;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__item {
    position: relative;
  }

  .gallery__wrapper {
    color: $white;
    background-color: rgba($black, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
}


@media (min-width: $tablet-width) {
  .gallery__item:first-child {
    grid-column: 1 / -1;
  }
}

//@media (min-width: $desktop-width) {
//  .gallery__item:first-child {
//    grid-column: 1 / -1;
//  }
//}
