.gallery {
  padding-top: 22px;
  line-height: 24px;
}

.gallery__list {
  list-style: none;
}

.gallery__name {
  text-transform: none;
}

.gallery__name strong {
  text-transform: uppercase;
}

.gallery__likes {
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item:first-child {
    grid-column: span 2;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:first-child {
    grid-column: span 3;
  }
}

