.main-nav {
  outline: 2px solid greenyellow;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item a {
  display: block;
  font-weight: bold;
}

@media (max-width: $mobile-width-only) {
  .main-nav__item a {
    color: $white;
    background-color: $blue;
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    width: 20%;
  }

  .main-nav__item:nth-child(4n-2) {
    margin-right: 20%;
  }
}
