.video-gallery {
  padding-top: 17px;
}

.video-gallery__description {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .video-gallery {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .video-gallery {
    padding-left: 0;
    padding-right: 0;
  }
}

.video-gallery__img {
  width: 100%;
  display: block;
}
