.video-gallery {
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .video-gallery {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video-gallery__img {
  width: 100%;
}
