// Colors

$blue: #81B3D2;
$blue-200: #669EC0;
$blue-300: #5496BD;
$black: #000000;
$white: #FFFFFF;
$grey: #EEEEEE;
$grey-200: #F2F2F2;
$grey-300: #E5E5E5;
$grey-400: #D5D5D5;
$grey-500: #666666;
$grey-600: #5C6870;
$grey-700: #333333;
