// Colors

$blue: #81b3d2;
$blue-100: #9ac2db;
$blue-150: #678fa8;
$blue-200: #669ec0;
$blue-300: #5496bd;
$black: #000000;
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.3);
$grey: #eeeeee;
$grey-200: #f2f2f2;
$grey-300: #e5e5e5;
$grey-400: #d5d5d5;
$grey-550: #d6d6d6;
$grey-500: #666666;
$grey-600: #5c6870;
$grey-700: #333333;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: $tablet-width - 1px;
